<div class="container">
  <% unless @recipes.empty? %>
    <p>Ramen Recipes<p>
  <% else %>
    <p>There aren't any recipes here.</p>
  <% end %>

  <div class="recipe-container">
    <% @recipes.each do |recipe| %>
      <% if recipe.is_a?(RamenRecipe) %>
        <li>
          <%= link_to recipe.name, ramen_recipe_path(recipe) %>
          <%= link_to "edit", edit_ramen_recipe_path(recipe)%>
          <%= link_to "delete", ramen_recipe_path(recipe), method: :delete%>
        </li>
      <% elsif recipe.is_a?(ComponentRecipe) %>
        <li>
          <%= link_to "#{recipe.name} #{recipe.component}", component_recipe_path(recipe) %>
          <%= link_to "edit", edit_component_recipe_path(recipe)%>
          <%= link_to "delete", component_recipe_path(recipe), method: :delete%>
        </li>
      <% else %>
        <% next %>
      <% end %>
    <% end %>
  </div>

